body {
	margin: 0;
	padding: 0;
}

/* if screen width is less then 660px */
@media only screen and (max-width: 660px) {
	table.container {
		width: 480px !important;
	}
	td.logo img {
		display: none;
	}
	td.logo {
		background: #fff url(images/logo_medium.jpg) no-repeat 10px 10px;
		height: 45px;
	}
	td.headline {
		padding: 5px 0px 0px 0px 30px !important;
	}
	td.headline h1 {
		font-size: 28px !important;
	}
	td.banner img {
		display: none;
	}
	td.banner {
		width: 480px;
		height: 150px;
		background-color: red;
	}
	td.content {
		padding-bottom: 30px !important;
		background-color: blue !important;
	}
	td.content table.button {
		width: auto;
	}
	td.content table.button td a {
		font-size: 14px !important;
	}
	td.promos table {
		width: 200px !important;
	}
	td.promos table td h3 {
		margin-bottom: 8px;
	}
	td.promos table td img {
		display: none;
	}
	td.promos table.promo_1 {
		background-color: pink;
		padding: 100px 0px 0px 0px;
	}
	td.promos table.promo_2 {
		background-color: pink;
		padding: 100px 0px 0px 0px;
	}
	td.callout table {
		width: 50% !important;
		margin-bottom: 40px;
	}
	td.callout table img {
		display: none;
	}
	td.callout table br {
		display: none;
	}
	td.callout table a {
		display: block;
		margin-top: 10px;
	}
	td.callout table td {
		background-size: 65px 65px;
	}
	td.callout table.callout_1 td {
		padding: 0px 30px 0px 60px !important;
		background-color: gray;
	}
	td.callout table.callout_2 td {
		padding: 0px 20px 0px 60px !important;
		background-color: gray;
	}
	td.callout table.callout_3 td {
		padding: 0px 30px 0px 60px !important;
		background-color: gray;
		clear: left;
	}
	td.callout table.callout_4 td {
		padding: 0px 20px 0px 60px !important;
		background-color: gray;
	}

}



/* if screen width is less then 510px */
@media only screen and (max-width: 510px) {
	table.container {
		width: 100% !important;
	}
	table.container td {
		border: none !important;
	}
	td.logo {
		background-color: purple;
		height: 32px;
	}
	td.headline h1 {
		font-size: 24px !important;
		text-align: center;
	}
	td.banner {
		height: 115px;
		background: url(images/banner_small.jpg) no-repeat right 0px;
	}
	td.content {
		line-height: 20px !important;
		padding-bottom: 10px !important;
		background-color: yellow;
	}
	td.footer {
		padding: 20px 30px !important;
	}
	td.promos table.promo_1 {
		width: 100% !important;
		border-top: 1px solid #71a412;
	}
	td.promos table.promo_1 td {
		background-color: pink;
		padding: 20px 0px 40px 110px;
	}
	td.promos table.promo_2 {
		width: 100% !important;
	}
	td.promos table.promo_2 td {
		background-color: pink;
		padding: 0px 0px 0px 110px;
		clear: left;
	}
	td.callout {
		padding: 20px 30px 0px 30px !important;
	}
	td.callout table {
		width: 100% !important;
		margin-bottom: 20px;
	}
	td.callout table td {
		padding: 0px 0px 10px 50px !important;
		background-size: 50px 50px !important;
		min-height: 60px;
	}
	td.callout table a {
		display: inline;
	}
	td.callout table.callout_1 td {
		background-position: 0px -6px;
	}
	td.callout table.callout_2 td {
		background-position: 4px -2px;
	}
	td.callout table.callout_3 td {
		background-position: 0px -7px;
	}
	td.callout table.callout_4 td {
		background-position: 4px -17px;
	}
	td.callout table br.spacer {
		display: inline;
	}

}















